@{
    ViewData["Title"] = "Login";
}
 

<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-primary bg-soft">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-primary p-4 text-center">
                                     
                                    <h5 class="text-primary mt-3">login</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">

                        <div class="p-2">
                            <form enctype="multipart/form-data" method="post">
                               @*  <div class="mb-3">
                                    <label for="useremail" class="form-label">Username</label>
                                    <input type="text" class="form-control" asp-for="Email" placeholder="Enter username" required>
                                    <div class="invalid-feedback">
                                        Enter username
                                    </div>
                                </div> *@


                                <div class="mb-3">
                                    <label for="useremail" class="form-label">Username</label>
                                    <input type="text" class="form-control"  placeholder="Enter username" required>
                                    <div class="invalid-feedback">
                                        Enter username
                                    </div>
                                </div>

                               @*  <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <div class="input-group auth-pass-inputgroup">
                                        <input type="password" class="form-control" asp-for="Password" placeholder="Enter password" aria-label="Password" aria-describedby="password-addon" required>
                                        <button class="btn btn-light " type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                                        <div class="invalid-feedback">
                                            Enter password
                                        </div>
                                    </div>
                                </div> *@

                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <div class="input-group auth-pass-inputgroup">
                                        <input type="password" class="form-control"  placeholder="Enter password" aria-label="Password" aria-describedby="password-addon" required>
                                        <button class="btn btn-light " type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                                        <div class="invalid-feedback">
                                            Enter password
                                        </div>
                                    </div>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember-check">
                                    <label class="form-check-label" for="remember-check">
                                        Remember me
                                    </label>
                                </div>
                                <div class="mt-3 d-grid">
                                    @* <button type="submit" class="btn btn-success waves-effect waves-light">Log In</button> *@
                                    <a class="btn btn-primary waves-effect waves-light" asp-controller="Admin" asp-action="Dashboard">Log In</a> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div>